{% extends 'base.html' %}

{% block menu %}<a class="nav-link" aria-current="page" href="{% url 'tasks_create' %}">Добавить задачу</a>{% endblock %}

{% block content %}
    <h1>Tasks</h1>

    <a href="tasks/add/" class="card-link">Добавить задачу</a>
    {% for task in tasks %}
        <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ task.title }}</h5>
                <h5 class="card-title">{{ task.status }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.description }}</h6>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ task.date_of_completion }}</h6>
                <a href="{% url 'tasks_view' pk=task.pk %}" class="card-link">Подробнее...</a>
                <input href="{% url 'tasks_view' pk=task.pk %}" type="submit" value="Удалить"/>
            </div>
        </div>



    {% endfor %}
{% endblock %}
